@using DigitalLearningSolutions.Web.ViewModels.FrameworkDevelopment
@model FrameworksListViewModel

@{
  ViewData["Title"] = "Framework Development - Frameworks";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading">My Frameworks</h1>
  </div>
</div>
